---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
---

<BaseLayout class="flex flex-col items-center justify-center" title='Sobre mí'>
	<TitlePage title='Sobre mí' />


	<div class="w-full flex justify-center">
<img src="/disneyfig.jpg" alt="Disney" class="rounded-3xl w-full h-auto md:h-96 md:w-96 object-cover md:rounded-full" />

	</div>
	

	<p> ¡Hola a todos! Soy Disney Figueroa González, médico con 24 años de experiencia, graduada de médico cirujano en la UNERG. Durante los años de carrera, he adquirido experiencia en el diagnóstico, tratamiento y rehabilitación de pacientes. Completé un Diplomado en Atención  del Paciente Grave y Cuidados Intensivos.
</p>

<p> Cada dia abordare temas relacionados a la optimización de tu calidad de vida, mejorando así tu salud sin importar tu edad o género. </p>

</BaseLayout>
